<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        position: relative;
        height: 500px;
    }

    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 40%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
</style>

<div class="col-xs-12" style="padding-top:90px;">
    <div style="position:relative;">
        <div id="floating-panel">
            <input id="address" type="textbox" value="ร้านอาหา">
            <input id="submit" type="button" value="Geocode">
        </div>
        <div id="map"></div>
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6XIwTvuIlNoHidbfwnrgo2_VqEG8tF4U&callback=initMap&"></script>
    <script>
        var maps;
        var jsonObj = [{"location": "วัดลาดปลาเค้า", "lat": "13.846876", "lng": "100.604481"},
            {"location": "หมู่บ้านอารียา", "lat": "13.847766", "lng": "100.605768"},
            {"location": "สปีดเวย์", "lat": "13.845235", "lng": "100.602711"},
            {"location": "สเต็ก ลุงหนวด", "lat": "13.862970", "lng": "100.613834"}];

        function initMap() {
            var mapOptions = {
                center: {lat: 13.847860, lng: 100.604274},
                zoom: 14
            }
            var maps = new google.maps.Map(document.getElementById("map"), mapOptions);
            var marker, info;
            var geocoder = new google.maps.Geocoder;
            $.each(jsonObj, function (i, item) {

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    map: maps,
                    title: item.location
                });

                info = new google.maps.InfoWindow();

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        info.setContent(item.location);
                        info.open(maps, marker);
                    }
                })(marker, i));
            });
            // document.getElementById('submit').addEventListener('click', function() {
            //     geocodeLatLng(geocoder, map, info);
            // });

            document.getElementById('submit').addEventListener('click', function () {
                geocodeAddress(geocoder, maps);
            });
        }

        function geocodeLatLng(geocoder, map, infowindow) {
            var input = document.getElementById('latlng').value;
            var latlngStr = input.split(',', 2);
            var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
            geocoder.geocode({'location': latlng}, function (results, status) {
                if (status === 'OK') {
                    if (results[1]) {
                        map.setZoom(11);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        infowindow.setContent(results[1].formatted_address);
                        infowindow.open(map, marker);
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

    </script>

    AIzaSyA6XIwTvuIlNoHidbfwnrgo2_VqEG8tF4U
</div>


</div>
