<template>
    <div>
        <h1> Get All User</h1>
    </div>
</template>
<script>
import UserService from '@/services/UserService';
export default {
    async created(){
        let res = (await UserService.index()).data
        console.log(res);
    }
}
</script>
<style scoped>

</style>
